.theme-entry .view .panel-header {
    display: none !important;
}

#0e9aac30-316c-2176-b528-5bb41fc1d283,
#d0a5296b-a2cf-33cb-718a-19cb4efca22c,
#97496788-2b90-b2d4-19f5-f33a6cfbe9c5 {

    border: 2px solid white;

  }
